In [1]:
import pandas as pd

In [16]:
df = pd.DataFrame([[1, 1.5], [2,2.5]], columns=['int', 'float'])
df

   int  float
0    1    1.5
1    2    2.5

In [19]:
next(df.iterrows())

(0,
 int      1.0
 float    1.5
 Name: 0, dtype: float64)

In [18]:
for index, row in df.iterrows():
    print(row ["float"])
    print(index)

1.5
0
2.5
1

In [21]:
 city_url = "test" + f"q="